.background{
    background-color: #B9EDDD;
    height: 100vh;
}
#title{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 10vh;
    color: #E55604;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0.4vh 0.2vw #ef9a68;
}
.btn-custom{
    background-color: #569DAA;
    width: 25vw;
    height: 20vh;
    font-size: 10vh;
    color: #f5deb3;
    text-shadow: 0.2vh 0.1vw #f9ebd1;
}
.btn-custom:hover{
    background-color: #569DAA;
}

.container{
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-size: 16px;
    font-weight: 600;
}
input[type="text"]{
    width: 90px;
    font-weight: 600;
    color: #663399;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-size: 28px;
}
button{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #663399;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: none;
}
p{
    font-weight: 400;
}
