body{
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url( 'background.svg' );
}

#title{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 10vh;
    color: #50808E;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0.4vh 0.2vw #275E6F;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* button types start */

.btn-custom{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #DDD8C4;
    border: 3px solid black;
    padding: 12px 32px;
    border-radius: 22px;
    box-shadow: 2px 2px 1px  black;
    transition: all .2s ease;
    font-size: 1em;
    font-weight: 800;
}

.btn-custom:hover{
    background-color: #DDD8C4;
    transform: translate(-2px, -1px);
    box-shadow: 7px 7px 1px  rgb(0, 0, 0);
    transition: all .2s ease-in;
}

.btn-custom-guess {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e8e8e8;
    background-color: #212121;
    width: 70px;
    height: 70px;
    font-size: 24px;
    text-transform: uppercase;
    border: 2px solid #212121;
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15),
        2px 2px 2px rgba(0, 0, 0, 0.1),
        -3px -3px 2px rgba(255, 255, 255, 0.05),
        -2px -2px 1px rgba(255, 255, 255, 0.05);
    overflow: hidden;
    cursor: pointer;
}

.btn-custom-guess .span{
    position: relative;
    z-index: 2;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.btn-custom-guess::before{
    content: "";
    position: absolute;
    background-color: #e8e8e8;
    width: 150%;
    height: 150%;
    left: 0%;
    bottom: 0%;
    transform: translate(-100%, 100%) rotate(45deg);
    border-radius: 15px;
}

.btn-custom-guess:hover::before {
    animation: shakeBack 0.6s forwards 0.6s;
  }
  
  .btn-custom-guess:hover .span {
    scale: 1.2;
  }
  
  .btn-custom-guess:hover {
    box-shadow: none;
  }
  
  .btn-custom-guess:active {
    scale: 0.95;
  }
  
  @keyframes shakeBack {
    0% {
      transform: translate(-100%, 100%) rotate(45deg);
    }
  
    50% {
      transform: translate(15%, -15%) rotate(45deg);
    }
  
    100% {
      transform: translate(-10%, 10%) rotate(45deg);
    }
  }

/* button types start */

.custom-container{
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #DDD8C4;
    padding: 50px 10px;
    border-radius: 22px;
    display: grid;
    justify-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 3px solid black;
    box-shadow: 2px 2px 1px  black;
}

.center{
    text-align: center;
}

h3{
    font-size: 16px;
    font-weight: 600;
}

input[type="text"]{
    background-color: #C2D5C5;
    width: 90px;
    font-weight: 600;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid #202020;
    font-size: 28px;
}

button{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #663399;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: none;
}

p{
    font-weight: 400;
}

