body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url( 'background.svg' );
}
#title{
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 10vh;
    color: #50808E;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0.4vh 0.2vw #275E6F;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-custom{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #DDD8C4;
    border: 3px solid black;
    padding: 12px 32px;
    border-radius: 22px;
    box-shadow: 2px 2px 1px  black;
    transition: all .2s ease;
    font-size: 1em;
    font-weight: 800;
}
.btn-custom:hover{
    background-color: #DDD8C4;
    transform: translate(-2px, -1px);
    box-shadow: 7px 7px 1px  rgb(0, 0, 0);
    transition: all .2s ease-in;
}

.hatter{
    position: absolute;
    width: 50%;
    min-width: 580px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    font-size: 16px;
    font-weight: 600;
}
input[type="text"]{
    width: 90px;
    font-weight: 600;
    color: #663399;
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px;
    border: 2px solid #202020;
    font-size: 28px;
}
button{
    width: 160px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: #663399;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    outline: none;
}
p{
    font-weight: 400;
}

